/* TRANSITIONS */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
  opacity: 1;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.height-enter-active,
.height-leave-active {
  transition: max-height 0.3s;
  max-height: 5rem !important;
  overflow: hidden;
}
.height-enter,
.height-leave-to {
  max-height: 0 !important;
}